.gform_wrapper {

    .ginput_container_checkbox {

        input[type="checkbox"] {
            margin-bottom: 0;
            margin-top: rem-calc( 2 ) !important;
        }

        label {
            color: inherit;
            font-weight: inherit !important;
        }

    }

}