ul, ol {

    &:not( .menu ) {
        margin-bottom: rem-calc( 10 );
    }

    @each $size, $breakpoint in $breakpoints {

        @for $i from 2 through 5 {

            @include breakpoint( $size ) {

                &.#{$size}-columns-#{$i} {

                    columns: #{$i};

                    li {
                        padding-right: $list-side-margin;
                    }

                }

            }

        }

    }

}

ul.checkmarks, ul.arrows {

    list-style: none;
    margin-left: 0;

    li {

        margin-bottom: $paragraph-margin-bottom;
        padding-left: $list-side-margin * 1.5;

        &:before {

            @extend .kmcu-icon;

            width: 1em;
            height: 1em;
            color: $primary-color;
            margin-left: - $list-side-margin * 1.5;
            margin-right: $list-side-margin * .7;
            display: inline-block;

        }

    }

}

ul.checkmarks {

    // Needs to always be left aligned or the absolute positioning of our glyphs will break
    text-align: left;

    li {

        font-weight: $global-weight-bold;
        position: relative;

        &:before {

            border-radius: 50%;
            background-color: $primary-color;
            content: '';
            line-height: $list-lineheight;
            position: absolute;
            top: .2em;
            height: 1.05em;
            width: 1.05em;

        }

        &:after {

            position: absolute;
            width: 1em;
            height: 1em;
            @include light-or-dark-text( $primary-color );
            display: inline-block;
            left: .4em;
            top: .9em;
            font-size: .55em;
            @extend .far;

        }

        @extend .far.fa-check-after;

    }

}

ul.arrows {

    li {

        @extend .kmcu-icon.arrow-right-with-circle;

        a {
            font-weight: $global-weight-bold;
            @include light-or-dark-link( $content-background, $primary-color );
        }

    }

}